@media (max-width: 768px) { 
    :root {
        Max-width:100%;
        }
        
        body { min-height:100vh;
        }
    .box-large {
        left: 40px;
    }
    
    .box {
        background-color: rgba(61, 61, 61, 0.76);
        border: 2px solid black;
        padding: 40px;
        margin: 0px;
        width: 95%;
        height: 100%;
        border-radius: 15px;
        position: relative;
        margin-left: 0px;
    }
    temp {
        color: #f5f5f5;
        font-family: Bebas Neue, sans-serif;
        font-size: 100px;
        text-shadow: 2px 2px 4px #000000;
    }
    dew {
        color: #f5f5f5;
        font-family: Bebas Neue, sans-serif;
        font-size: 60px;
        text-shadow: 2px 2px 4px #000000;
    }
    .h2-forc {
        padding: 10px;
    }
    .list-c {
        display: flex;
        flex-direction: column !important;
        margin-top: 400px;
        height: 100%;
    }
    .rip img , .tsunami img {
        width: 100%;
    }
    .rip h1 , .tsunami h1 {
        font-size: 50px !important;
        padding-top: 100px;
        padding-bottom: 100px;
    }


 }