html {
  height: 100%;
  width: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

temp {
    color: #f5f5f5; /* Change this to the color you want */
    font-family: Bebas Neue, sans-serif; /* Change this to the font you want */
    font-size: 150px; /* Change this to the size you want */
    text-shadow: 2px 2px 4px #000000
}



dew {
  color: #f5f5f5; /* Change this to the color you want */
  font-family: Bebas Neue, sans-serif; /* Change this to the font you want */
  font-size: 75px; /* Change this to the size you want */
  text-shadow: 2px 2px 4px #000000;
}





temp, dew {
  display: block;
}










.

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
}












.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  padding: 0; /* Adjust as needed */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}







.box {
    background-color: rgba(61, 61, 61, 0.76); /* white background with 50% opacity */
    border: 2px solid black;
    padding: 10px;
    margin: 50px;
    width: 500px;
    height: 500px; 
    border-radius: 15px; 
    position: relative; /* Add this line */
    margin-left: -200px; /* Adjust as needed */

}

.box-large {
    left: 400px; /* Adjust this value to move the box to the right */
}






#weatherInfo {
    font-size: 30px;
    font-family: Bebas Neue, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}






#forecast {
font-size: 30px;
    font-family: Bebas Neue, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}



.homepage {
   margin-left: -250px;
}








